.m{
	margin-top: 85px;
}

.user-index .media-object{
	height: 120px;
	widht: 100px;
}

.home-index .media-object{
	height: 150px;
	widht: 120px;
}
.home-index .btn{
	margin-left: 10px;
}
.user-index .media-body{
	font-size: 12px;
}
.user-index, .home-index .border{
	padding-top: 20px;
}
.home-index h1{
	border-bottom: 1px solid #eee;
	padding-top: 25px;
	padding-bottom: 25px;	
}

.metadata{
	color:#999;
}
.dl-horizontal  {
	list-style-type: none;
}